@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --primary-color: #3a638c;
  --primary-darker: #054179;
  --secondary-color: #7cac9c;
  --secondary-darker: #046b5b;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  font-family: "Poppins", sans-serif;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  margin: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  background-color: white;
  border: 6px solid black;
  border-radius: 2px;
  padding: 5%;
}

#userInput {
  font-family: inherit;
  right: -30%;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
}

.button {
  text-align: center;
  color: white;
  margin: auto;
  font-family: inherit;
  background-color: var(--primary-color);
  border: 2px solid var(--secondary-darker);
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  padding: 5px;
  cursor: pointer;
  font-weight: bold;
}

.button:active {
  transform: scale(0.98);
}

.button:focus {
  outline: 0;
}

.button:hover {
  background-color: var(--primary-darker);
}

.hide {
  display: none;
}

.list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 100px;
  list-style-type: none;
  font-weight: bold;
}

#resultContainer {
  margin-top: 5px;
}

#inputForm {
  display: inline;
}
